.body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/39/mountain-1245916_960_720.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baseline-top{
  margin-top: 40px;
  color:white;
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-size: 28px;
  font-family: 'Rubik Mono One', sans-serif;
  padding:100px;  
  box-shadow:10px 10px 8px rgb(8, 8, 8);  
  text-align:center;
  display: ruby-text-container;
  background-image:url(images/background-h1-wood.jpg);  
}

.titre{
  color: rgb(255, 255, 255);
}

.azer{
  border: 1px white solid;
  margin: 1em;
  display: flex;
  justify-content: left;
}

.ty{
  width: 10em ;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 1em;
}

.to{
  width: 40em ;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 1em;
}

.gras{
  color: white;
  font-size: 22px;
  text-decoration: underline;
}

.p{
  color: white;
  font-size: 22px;
}
